<section class="section-padding section-blue">
    <article class="container">
        <h1 class="mb-5 section-title">Contato</h1>
        <article class="contact-card d-flex justify-content-around">
            <article class="left-card">
                <img class="mb-3 rounded" src="assets/images/email-form.png" alt="Carta">
                <article class="social-media d-flex justify-content-around">
                    <a href="">
                        <img src="assets/icons/linkedin.png" alt="Linkedin">
                    </a>
                    <a href="">
                        <img src="assets/icons/instagram.png" alt="Instagram">
                    </a>
                    <a href="">
                        <img src="assets/icons/email.png" alt="Email">
                    </a>
                </article>
            </article>

            <article class="right-card">
                <div class="form-floating mb-3">
                    <input type="name" class="form-control" id="floatingName" placeholder="name@example.com">
                    <label for="floatingName">Nome</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingEmail" placeholder="Email">
                    <label for="floatingEmail">Email</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 200px"></textarea>
                    <label for="floatingTextarea2">Mensagem</label>
                </div>
                <app-button text="Enviar" class="float-end" />
            </article>
        </article>
    </article>
</section>