<section class="section-padding">
    <div class="container">
        <article class="row text-center">
            <h4 class="fw-bold text-default col-md-3 col-12 mt-md-0 mt-4">
                Featured In
            </h4>
            <div class="col-md-3 col-12 mt-md-0 mt-4">
                <img src="assets/images/esalflores.png" alt="Esalflores Logo" class="img-size">
            </div>
            <div class="col-md-3 col-12 mt-md-0 mt-4">
                <img src="assets/images/akon.png" alt="Akon Engenharia Logo" class="img-size">
            </div>
            <div class="col-md-3 col-12 mt-md-0 mt-4">
                <img src="assets/images/monetali.png" alt="Monetali Logo" class="img-size">
            </div>
        </article>
    </div>
</section>