<section class="section-padding section-blue">
    <article class="container">
        <h1>Our Team</h1>
        <p>Meet de Southware team: A Collective of Visionaries and Innovators</p>

        <article class="second-content">
            <article class="content-card">
                <img src="" alt="">
                <article class="text-card">
                    <h2>André Luiz</h2>
                    <p>Founder & CEO</p>
                    <p>With years of experience in the tech industry, John’s leadership and vision have propelled Southware to new heights. He is passionate about technology and believes in using it to make a difference in people’s lives.</p>
                </article>
            </article>
        </article>
    </article>
</section> 