<section class="section-padding">
    <article class="container section-team">
        <h1 class="my-5 section-title">Our Team</h1>
        <p class="my-4">Meet the Southware team: A Collective of Visionaries and Innovators</p>

        <article class="second-content d-flex justify-content-around">
            <article class="content-card d-flex justify-content-around mt-5">
                <img src="assets/images/features.jpg" alt="">
                <article class="text-card">
                    <h2 class="fw-bold">André Bartholdy</h2>
                    <p>Founder & CEO</p>
                    <p>With years of experience in the tech industry, John’s leadership and vision have propelled Southware to new heights. He is passionate about technology and believes in using it to make a difference in people’s lives.</p>
                </article>
            </article>

            <article class="content-card d-flex justify-content-around mt-5">
                <img src="assets/images/features.jpg" alt="">
                <article class="text-card">
                    <h2 class="fw-bold">Gustavo Kropiwiec</h2>
                    <p>Founder & CEO</p>
                    <p>With years of experience in the tech industry, John’s leadership and vision have propelled Southware to new heights. He is passionate about technology and believes in using it to make a difference in people’s lives.</p>
                </article>
            </article>
        </article>
    </article>
</section> 