<!-- <section class="section-padding">
    <article class="container section-team">
        <h1 class="my-5 section-title">{{ 'team.title' | translate}}</h1>
        <p class="my-4">{{ 'team.subtitle' | translate}}</p>

        <article class="second-content d-flex justify-content-around">
            <article class="content-card d-flex justify-content-around mt-5">
                <img src="assets/images/andre-bartholdy.jpeg" alt="">
                <article class="text-card">
                    <h2 class="fw-bold">André Bartholdy</h2>
                    <p>{{ 'team.office' | translate }}</p>
                    <p>{{ 'team.andreDescription' | translate }}</p>
                </article>
            </article>

            <article class="content-card d-flex justify-content-around mt-5">
                <img src="assets/images/gustavo-kropiwiec.jpeg" alt="">
                <article class="text-card">
                    <h2 class="fw-bold">Gustavo Kropiwiec</h2>
                    <p>{{ 'team.office' | translate }}</p>
                    <p>{{ 'team.gustavoDescription' | translate }}</p>
                </article>
            </article>
        </article>
    </article>
</section>  -->