<section class="section-padding section-blue">
    <article class="container">
        <article class="title d-flex justify-content-around">
            <div class="line"></div>
            <h6>Features & Benefits</h6>
            <div class="line"></div>
        </article>

        <article class="second-content d-flex justify-content-around">
            <article class="features-text">
                <h3>Features</h3>
                <article class="subthemes d-flex justify-content-start gap-2 my-3">
                    <img src="assets/icons/check.png" alt="">
                    <h6>Custom Web Solutions</h6>
                </article>
                <article class="subthemes d-flex justify-content-start gap-2 my-3">
                    <img src="assets/icons/check.png" alt="">
                    <h6>Professional Project Portfolio</h6>
                </article>
                <article class="subthemes d-flex justify-content-start gap-2 my-3">
                    <img src="assets/icons/check.png" alt="">
                    <h6>Innovative Digital Showcase</h6>
                </article>
                <article class="subthemes d-flex justify-content-start gap-2 my-3">
                    <img src="assets/icons/check.png" alt="">
                    <h6>Responsive and Professional Team</h6>
                </article>
                <article class="subthemes d-flex justify-content-start gap-2 my-3">
                    <img src="assets/icons/check.png" alt="">
                    <h6>Reliable Ongoing Support</h6>
                </article>
            </article>

            <article class="benefits-text">
                <h3>Benefits</h3>
                <article class="subthemes d-flex justify-content-start gap-2 my-3">
                    <img src="assets/icons/check.png" alt="">
                    <h6>Enhanced Online Presence</h6>
                </article>
                <article class="subthemes d-flex justify-content-start gap-2 my-3">
                    <img src="assets/icons/check.png" alt="">
                    <h6>Increased Brand Awareness</h6>
                </article>
                <article class="subthemes d-flex justify-content-start gap-2 my-3">
                    <img src="assets/icons/check.png" alt="">
                    <h6>Competitive Advantage</h6>
                </article>
                <article class="subthemes d-flex justify-content-start gap-2 my-3">
                    <img src="assets/icons/check.png" alt="">
                    <h6>Improved User Experience</h6>
                </article>
                <article class="subthemes d-flex justify-content-start gap-2 my-3">
                    <img src="assets/icons/check.png" alt="">
                    <h6>Sustainable Business Growth</h6>
                </article>
            </article>

            <article class="photo">
                <img src="assets/images/features.jpg" alt="">
            </article>
        </article>
    </article>
</section>