<section class="section-padding section-blue">
    <article class="container">
        <article class="title d-flex justify-content-around">
            <div class="line"></div>
            <h6>Features & Benefits</h6>
            <div class="line"></div>
        </article>

        <article class="second-content d-flex justify-content-around">
            <article class="features-text">
                <h3>{{ 'features.features' | translate }}</h3>
                <article class="subthemes d-flex justify-content-start gap-2 my-3">
                    <img src="assets/icons/check.png" alt="">
                    <h6>{{ 'features.first-text-features' | translate }}</h6>
                </article>
                <article class="subthemes d-flex justify-content-start gap-2 my-3">
                    <img src="assets/icons/check.png" alt="">
                    <h6>{{ 'features.second-text-features' | translate }}</h6>
                </article>
                <article class="subthemes d-flex justify-content-start gap-2 my-3">
                    <img src="assets/icons/check.png" alt="">
                    <h6>{{ 'features.third-text-features' | translate }}</h6>
                </article>
                <article class="subthemes d-flex justify-content-start gap-2 my-3">
                    <img src="assets/icons/check.png" alt="">
                    <h6>{{ 'features.fourth-text-features' | translate }}</h6>
                </article>
                <article class="subthemes d-flex justify-content-start gap-2 my-3">
                    <img src="assets/icons/check.png" alt="">
                    <h6>{{ 'features.fifth-text-features' | translate }}</h6>
                </article>
            </article>

            <article class="benefits-text">
                <h3>{{ 'features.benefits' | translate }}</h3>
                <article class="subthemes d-flex justify-content-start gap-2 my-3">
                    <img src="assets/icons/check.png" alt="">
                    <h6>{{ 'features.first-text-benefits' | translate }}</h6>
                </article>
                <article class="subthemes d-flex justify-content-start gap-2 my-3">
                    <img src="assets/icons/check.png" alt="">
                    <h6>{{ 'features.second-text-benefits' | translate }}</h6>
                </article>
                <article class="subthemes d-flex justify-content-start gap-2 my-3">
                    <img src="assets/icons/check.png" alt="">
                    <h6>{{ 'features.third-text-benefits' | translate }}</h6>
                </article>
                <article class="subthemes d-flex justify-content-start gap-2 my-3">
                    <img src="assets/icons/check.png" alt="">
                    <h6>{{ 'features.fourth-text-benefits' | translate }}</h6>
                </article>
                <article class="subthemes d-flex justify-content-start gap-2 my-3">
                    <img src="assets/icons/check.png" alt="">
                    <h6>{{ 'features.fifth-text-benefits' | translate }}</h6>
                </article>
            </article>

            <article class="photo">
                <img src="assets/images/features.jpg" alt="">
            </article>
        </article>
    </article>
</section>