<section class="section-padding section-blue">
    <article class="container">
        <article class="title d-flex justify-content-around">
            <div class="line"></div>
            <h6>Features & {{ 'features.benefits' | translate }}</h6>
            <div class="line"></div>
        </article>

        <article class="second-content d-flex justify-content-around">
            <article class="features-text">
                <h3>Features</h3>
                <article class="subthemes d-flex justify-content-start gap-2 my-3">
                    <img src="assets/icons/check.png" alt="">
                    <h6>{{ 'features.firstTextFeatures' | translate }}</h6>
                </article>
                <article class="subthemes d-flex justify-content-start gap-2 my-3">
                    <img src="assets/icons/check.png" alt="">
                    <h6>{{ 'features.secondTextFeatures' | translate }}</h6>
                </article>
                <article class="subthemes d-flex justify-content-start gap-2 my-3">
                    <img src="assets/icons/check.png" alt="">
                    <h6>{{ 'features.thirdTextFeatures' | translate }}</h6>
                </article>
                <article class="subthemes d-flex justify-content-start gap-2 my-3">
                    <img src="assets/icons/check.png" alt="">
                    <h6>{{ 'features.fourthTextFeatures' | translate }}</h6>
                </article>
                <article class="subthemes d-flex justify-content-start gap-2 my-3">
                    <img src="assets/icons/check.png" alt="">
                    <h6>{{ 'features.fifthTextFeatures' | translate }}</h6>
                </article>
            </article>

            <article class="benefits-text">
                <h3>{{ 'features.benefits' | translate }}</h3>
                <article class="subthemes d-flex justify-content-start gap-2 my-3">
                    <img src="assets/icons/check.png" alt="">
                    <h6>{{ 'features.firstTextBenefits' | translate }}</h6>
                </article>
                <article class="subthemes d-flex justify-content-start gap-2 my-3">
                    <img src="assets/icons/check.png" alt="">
                    <h6>{{ 'features.secondTextBenefits' | translate }}</h6>
                </article>
                <article class="subthemes d-flex justify-content-start gap-2 my-3">
                    <img src="assets/icons/check.png" alt="">
                    <h6>{{ 'features.thirdTextBenefits' | translate }}</h6>
                </article>
                <article class="subthemes d-flex justify-content-start gap-2 my-3">
                    <img src="assets/icons/check.png" alt="">
                    <h6>{{ 'features.fourthTextBenefits' | translate }}</h6>
                </article>
                <article class="subthemes d-flex justify-content-start gap-2 my-3">
                    <img src="assets/icons/check.png" alt="">
                    <h6>{{ 'features.fifthTextBenefits' | translate }}</h6>
                </article>
            </article>

            <article class="photo">
                <img src="assets/images/features.jpg" alt="">
            </article>
        </article>
    </article>
</section>