<section class="section-blue section-padding">
    <div class="container">
        <article class="row section-headline">
            <div class="col-sm-6">
                <h1 class="title">Cutting-edge software development for innovative solutions</h1>
                <br>
                <p class="subtitle">Experience the transformative power of our cutting-edge software development services, as we bring your innovative ideas to life with custom solutions tailored to your specific business needs.</p>
                <br>
                <app-button text="View All Services"/>
            </div>
            <div class="col-sm-6 text-center align-self-center img-headline">
                <img src="assets/images/headline-img.webp" alt="Headline Image" loading="lazy">
            </div>
        </article>
    </div>
</section>
