<section class="section-blue section-padding">
    <div class="container">
        <article class="row section-headline">
            <div class="col-sm-6 animate__animated animate__fadeInLeft">
                <h1 class="title">{{ 'headline.title' | translate }}</h1>
                <br>
                <p class="subtitle">{{ 'headline.subtitle' | translate }}</p>
                <br>
                <app-button text="{{ 'btnViewServices' | translate }}"/>
            </div>
            <div class="col-sm-6 text-center align-self-center img-headline animate__animated animate__fadeInRight">
                <img src="assets/images/headline-img.webp" alt="Headline Image" loading="lazy">
            </div>
        </article>
    </div>
</section>
