<section class="section-padding section-blue">
    <div class="container">
        <article>
            <h1 class="section-title">{{ 'services.title' | translate }}</h1>
            <div class="row mt-5">
                <div class="col-12 col-md-4">
                    <img src="assets/images/web-dev-service.webp" alt="Service Web Dev Southware" class="img-size">
                </div>
                <div class="col-12 col-md-4">
                    <img src="assets/images/web-dev-service.webp" alt="Service Web Dev Southware" class="img-size">
                </div>
                <div class="col-12 col-md-4">
                    <img src="assets/images/web-dev-service.webp" alt="Service Web Dev Southware" class="img-size">
                </div>
            </div>
        </article>
    </div>
</section>